<%= form_for(health_region) do |f| %>
  <% if health_region.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(health_region.errors.count, "error") %> prohibited this health_region from being saved:</h2>

      <ul>
      <% health_region.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :dimension %><br>
    <%= f.text_field :dimension %>
  </p>
  <p>
    <%= f.label :british_columbia %><br>
    <%= f.text_field :british_columbia %>    
  </p>
  <p>
    <%= f.label :ha_total %><br>
    <%= f.text_field :ha_total %>    
  </p>
  <p>
    <%= f.label :ha_1_interior %><br>
    <%= f.text_field :ha_1_interior %>    
  </p>
  <p>
    <%= f.label :ha_2_fraser %><br>
    <%= f.text_field :ha_2_fraser %>    
  </p>
  <p>
    <%= f.label :ha_3_vancouver_coastal %><br>
    <%= f.text_field :ha_3_vancouver_coastal %>    
  </p>
  <p>
    <%= f.label :ha_4_vancouver_island %><br>
    <%= f.text_field :ha_4_vancouver_island %>    
  </p>
  <p>
    <%= f.label :ha_5_northern %><br>
    <%= f.text_field :ha_5_northern %>
  </p>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
