<p id="notice"><%= notice %></p>

<h1>Health Regions</h1>

<br>

<%= link_to 'Export CSV', health_regions_path(format: :csv) %>

<br>
<br>

<%= form_tag('/import_data_api', method: :get) do %>
  <input type="number" name="limit" min="1" placeholder="Enter import data limit" required>
  <%= submit_tag 'Import Data via API' %>
<% end %>

<table>
  <tr>
    <th>Dimension</th>
    <th>British Columbia</th>
    <th>HA Total</th>
    <th>HA 1 Interior</th>
    <th>HA 2 Fraser</th>
    <th>HA 3 Vancouver Coastal</th>
    <th>HA 4 Vancouver Island</th>
    <th>HA 5 Northern</th>
    <th>Actions</th>
  </tr>
  <% @health_regions.each do |health_region| %>
    <tr>
      <td><%= health_region.dimension %></td>
      <td><%= health_region.british_columbia %></td>
      <td><%= health_region.ha_total %></td>
      <td><%= health_region.ha_1_interior %></td>
      <td><%= health_region.ha_2_fraser %></td>
      <td><%= health_region.ha_3_vancouver_coastal %></td>
      <td><%= health_region.ha_4_vancouver_island %></td>
      <td><%= health_region.ha_5_northern %></td>
      <td>
        <%= link_to 'Show', health_region %>
        <%= link_to 'Edit', edit_health_region_path(health_region) %>
        <%= link_to 'Destroy', health_region, method: :delete, data: { confirm: 'Are you sure?' } %>
      </td>
    </tr>
  <% end %>
</table>
