<p id="notice"><%= notice %></p>

<p>
  <strong>Dimension:</strong>
  <%= @health_region.dimension %>
</p>
<p>
  <strong>British Columbia:</strong>
  <%= @health_region.british_columbia %>
</p>
<p>
  <strong>HA Total:</strong>
  <%= @health_region.ha_total %>
</p>
<p>
  <strong>HA 1 Interior:</strong>
  <%= @health_region.ha_1_interior %>
</p>
<p>
  <strong>HA 2 Fraser:</strong>
  <%= @health_region.ha_2_fraser %>
</p>
<p>
  <strong>HA 3 Vancouver Coastal:</strong>
  <%= @health_region.ha_3_vancouver_coastal %>
</p>
<p>
  <strong>HA 4 Vancouver Island:</strong>
  <%= @health_region.ha_4_vancouver_island %>
</p>
<p>
  <strong>HA 5 Northern:</strong>
  <%= @health_region.ha_5_northern %>
</p>


<%= link_to 'Edit', edit_health_region_path(@health_region) %> |
<%= link_to 'Back', health_regions_path %>
